{% extends 'cosmicdb/dashboard.html' %}

{% block form_footer %}
<div class="ui segment">
        <h1 class="ui header">
            <i class="user icon"></i>
                <div class="content">
                Customers
                <div class="sub header">
                    <a href="{% url 'customers' %}"><i class="list icon"></i> List</a>
                </div>
                <div class="sub header">
                    <a href="{% url 'customer_new' %}"><i class="plus icon"></i> Add</a>
                </div>
            </div>
        </h1>
    </div>
    <div class="ui segment">
        <h1 class="ui header">
            <i class="dollar icon"></i>
                <div class="content">
                Invoices
                <div class="sub header">
                    <a href="{% url 'invoices' %}"><i class="list icon"></i> List</a>
                </div>
                <div class="sub header">
                    <a href="{% url 'invoice_new' %}"><i class="plus icon"></i> Add</a>
                </div>
            </div>
        </h1>
    </div>
    {% endblock %}
